<%- include('header.ejs') %>




<div class="container">
    <div class="row">
        
        <div class="art col-12 text-center pt-5 pb-3 my-3 border">
            <h1 class="bg-gray text-center "></h2><%= result.topic %> </h1>
            <h2><%= result.content %></h2>
           
             <h6 class=" text-center mt-2"><%= result.date %> </h6>
             

        </div>
      
    </div>
</div>




<%- include('footer.ejs') %>